name: Check Code Formatting

on:
  pull_request:
    # branches:
      # - main

jobs:
  checks-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      # run any `bun` or `bunx` command
      - run: bun install
      - run: bun run format